<p id="notice" xmlns:border-left="http://www.w3.org/1999/xhtml"><%= notice %></p>

<h1>Listing Devices</h1>

<table>
  <thead>
    <tr>
      <th>Mac</th>
      <th>Status</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td style="font-size: 30px"><%= device.mac %></td>
        <td style="font-size: 30px"><%= device.status %></td>
        <td><%= link_to 'Show', device, class: "btn btn-default navbar-btn" %>
        <%= link_to 'Edit', edit_device_path(device), class: "btn btn-default navbar-btn" %>
        <%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default navbar-btn" %>
        <%= link_to 'Turn On', {:action => 'turn_on', :controller => 'devices'}, class: "btn btn-success navbar-btn" %>
        <%= link_to 'Turn Off', {:action => 'turn_off', :controller => 'devices'}, class: "btn btn-warning navbar-btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to '+', new_device_path, class: "round-button" %>
